{% load i18n %}
{% block content %}
<form method="post" action="{% url 'account_login' %}">
    {% csrf_token %}
    <div class="mb-3 mt-3">
        <label for="loginUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="loginUsername" name="{{ form.username.name }}" minlength="3"
            maxlength="20" placeholder="Enter your username here" required>
    </div>
    <div class="mb-3">
        <label for="loginPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="loginPassword" name="{{ form.password.name }}" minlength="8"
            maxlength="50" pattern="(?=.*\d)(?=.*[!@#$%^&*]).*" placeholder="Enter your password here" required>
    </div>
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary w-100">{% trans "Sign In" %}</button>
</form>
{% endblock content %}