/* Import fonts  */
@import url('fonts.css');

/*--------------- COLOUR VARIABLES STARTS ---------------*/
:root {
    --primary-colour: #0c0c0e;
    --secondary-colour: #ffffff;
    --primary-background-colour: #0E1230;
    --secondary-background-colour: #070817;
    --primary-accent-colour: #1c67fd;
    --secondary-accent-colour: #104334;
}

/*--------------- COLOUR VARIABLES ENDS ---------------*/

/*--------------- RESET STYLING STARTS ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------- RESET STYLING ENDS ---------------*/

/* --------------- GLOBAL STYLING STARTS --------------- */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto Slab', serif;
    line-height: 1;
    font-weight: 600;
}

p {
    line-height: 1.5;
    color: var(--secondary-colour);
}

.hidden-accessibility {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
}

/* Boostrap adjustments */
.btn-primary {
    background-color: var(--primary-accent-colour);
}
/* --------------- GLOBAL STYLING ENDS --------------- */

/*--------------- GENERAL LINK STYLING STARTS ---------------*/
a,
a:visited {
    color: var(--secondary-colour);
    text-decoration: none;
}

a:hover {
    color: var(--primary-accent-colour);
}

/*--------------- GENERAL LINK STYLING ENDS ---------------*/

/* --------------- NAVBAR STYLING STARTS --------------- */
.navbar {
    --bs-navbar-padding-y: 0;
    position: relative;
    border-bottom: 2px solid var(--primary-accent-colour);
}

.navbar .container-fluid {
    height: 50px;
}

.navbar-brand {
    color: var(--secondary-colour);
}

.navbar-brand:hover {
    color: var(--primary-accent-colour);
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 40px;
    background: url('/static/images/joystick_junction_logo_50x50.png') no-repeat center/cover;
}

.logo-container:hover {
    background-image: url('/static/images/joystick_junction_logo_hover_50x50.png');
}
/* --------------- NAVBAR STYLING ENDS --------------- */


/* --------------- ACCOUNT MANAGEMENT STYLING STARTS --------------- */
.content-padding {
    padding-top: 20px;
}

.card {
    background: radial-gradient(circle at top, #0E1230, #070817);
    border: 1px solid var(--primary-accent-colour);
}

.nav-tabs .nav-link {
    color: var(--secondary-colour);
    border-color: var(--secondary-colour);
}

.nav-tabs .nav-link:hover {
    color: var(--primary-accent-colour);
    border-color: var(--primary-accent-colour);
}

.form-label {
    color: var(--secondary-colour);
}

.form-control {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
}

.hidden-input {
    visibility: hidden;
}
/* --------------- ACCOUNT MANAGEMENT STYLING ENDS --------------- */

/* --------------- ADMIN STYLING STARTS --------------- */
#adminTabs.nav-tabs {
    border-bottom: unset;
    --bs-nav-tabs-border-radius: unset;
}

#findAGameTab .search-button,
#searchFormMainThread .search-button {
    color: var(--secondary-colour);
    background-color: var(--primary-accent-colour);
}

#findAGameTab .search-button:hover,
#searchFormMainThread .search-button:hover {
    background-color: var(--primary-accent-colour);
    border-color: var(--secondary-colour);
}

.result-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    border: 1px solid var(--primary-accent-colour);
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.result-button:hover {
    color: var(--secondary-colour);
    background-color: var(--primary-colour-hover);
    border-color: var(--secondary-colour);
}

.first-result-item {
    margin-top: 1rem;
}

.result-list {
    list-style-type: none;
    padding-left: 0;
}

.result-item {
    margin-bottom: 1rem;
}

#searchGamesForMainThread li {
    list-style-type: none;
}

.accordion-button {
    color: var(--primary-colour)
}

.accordion-item {
    background-color: var(--primary-colour);
    margin-bottom: 1rem;
}

.accordion-item:hover,
.accordion-item:focus,
.accordion-button:hover,
.accordion-button:focus {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
}

.accordion-button:not(.collapsed) {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
}

#searchCreatedMainThreads .delete-button {
    color: var(--secondary-colour);
    border-color: var(--secondary-colour);
}

#searchCreatedMainThreads .delete-button:hover {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    border-color: var(--primary-accent-colour);
}
/* --------------- ADMIN STYLING ENDS --------------- */