{% load static %}
{% load i18n %}
{% block content %}
    <ul class="nav nav-tabs" id="adminTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="find-game-tab" data-bs-toggle="tab" href="#find-game" role="tab"
                aria-controls="find-game" aria-selected="true">Find a Game</a>
        </li>
    </ul>
    <div class="tab-content" id="adminTabContent">
        <div class="tab-pane fade show active" id="find-game" role="tabpanel"
            aria-labelledby="find-game-tab">
            {% include "find_a_game.html" %}
        </div>
    </div>
{% endblock %}