{% load static %}
{% load i18n %}
{% block content %}
    <div class="mt-3">
        <form method="post" action="{% url 'account_management' %}">
            {% csrf_token %}
            <input type="hidden" name="form_submitted" value="true">
            <div class="mb-3">
                <label for="query" class="form-label">Find a Game</label>
                <input type="text" class="form-control" id="query" name="query" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Search</button>
        </form>
    </div>

    {% if results %}
    <ul class="mt-3">
        {% for result in results %}
        <li class="mb-2">{{ result.name }} - ID: {{ result.id }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock content %}