{% load static %}
{% load i18n %}
{% block content %}
    <form id="searchFormMainThread" data-url="{% url 'search_created_main_threads' %}" method="get">
        <div class="mb-3">
            <label for="query" class="form-label"></label>
            <input type="text" class="form-control" name="search" placeholder="Search threads">
        </div>
        <button type="submit" class="btn search-button w-100">Search</button>
    </form>
    <div class="accordion mt-3" id="searchCreatedMainThreads">
        <!-- The results will be appended here by the AJAX success function -->
    </div>

    <!-- Add the modal here -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this thread? All related data will be permanently deleted.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" id="confirmDelete">Yes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}