{% load static %}
{% load i18n %}
{% block content %}
    <form id="searchFormMainThread" data-url="{% url 'search_created_main_threads' %}" method="get">
        <div class="mb-3">
            <label for="query" class="form-label"></label>
            <input type="text" class="form-control" name="search" placeholder="Search threads">
        </div>
        <button type="submit" class="btn search-button w-100">Search</button>
    </form>
    <div class="accordion mt-3" id="searchCreatedMainThreads">
        <!-- The results will be appended here by the AJAX success function -->
    </div>
{% endblock content %}