/*--------------- COLOUR VARIABLES STARTS ---------------*/
:root {
    --primary-colour: #0c0c0e;
    --secondary-colour: #ffffff;
    --primary-background-colour: #0e1230;
    --secondary-background-colour: #070817;
    --primary-accent-colour: #1c67fd;
    --secondary-accent-colour: #104334;
}

/*--------------- COLOUR VARIABLES ENDS ---------------*/

/*--------------- RESET STYLING STARTS ---------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------- RESET STYLING ENDS ---------------*/

/* --------------- GLOBAL STYLING STARTS --------------- */
body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto Slab", serif;
    line-height: 1;
    font-weight: 600;
}

p {
    line-height: 1.5;
    color: var(--secondary-colour);
}

.hidden-accessibility {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
}

.toast {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    border-color: var(--secondary-colour);
    border-radius: 3px;
    opacity: 0.95;
}

.toast-header {
    background-color: var(--primary-background-colour);
    color: var(--secondary-colour);
}

.toast-body {
    background-color: var(--primary-background-colour);
    color: var(--secondary-colour);
}

/* --------------- GLOBAL STYLING ENDS --------------- */

/* --------------- BOOTSTRAP STYLING STARTS --------------- */
.btn-primary {
    background-color: var(--primary-accent-colour);
}

/* --------------- BOOTSTRAP STYLING ENDS --------------- */

/*--------------- GENERAL LINK STYLING STARTS ---------------*/
.result-link {
    color: var(--primary-colour);
    text-decoration: none;
}

.result-link:hover {
    color: var(--secondary-colour);
}

/*--------------- GENERAL LINK STYLING ENDS ---------------*/

/* --------------- NAVBAR STYLING STARTS --------------- */
.navbar {
    --bs-navbar-padding-y: 0;
    position: relative;
    border-bottom: 2px solid var(--primary-accent-colour);
}

.navbar .container-fluid {
    height: 50px;
}

.navbar-brand {
    color: var(--secondary-colour);
}

.navbar-brand:hover {
    color: var(--primary-accent-colour);
}

.logo-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 40px;
    background: url("/static/images/joystick_junction_logo_50x50.88a90ca5399f.png") no-repeat center/cover;
}

.logo-container:hover {
    background-image: url("/static/images/joystick_junction_logo_hover_50x50.7e738c9f7e3b.png");
}

/* --------------- NAVBAR STYLING ENDS --------------- */

/* --------------- ACCOUNT MANAGEMENT STYLING STARTS --------------- */
.content-padding {
    padding-top: 20px;
}

.card {
    background: radial-gradient(circle at top, #0e1230, #070817);
    border: 1px solid var(--primary-accent-colour);
}

.nav-tabs .nav-link {
    color: var(--secondary-colour);
    border-color: var(--secondary-colour);
}

.nav-tabs .nav-link:hover {
    color: var(--primary-accent-colour);
    border-color: var(--primary-accent-colour);
}

.form-label {
    color: var(--secondary-colour);
}

.form-control {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
}

.hidden-input {
    visibility: hidden;
}

/* --------------- ACCOUNT MANAGEMENT STYLING ENDS --------------- */

/* --------------- ADMIN STYLING STARTS --------------- */
#adminTabs.nav-tabs {
    border-bottom: unset;
    --bs-nav-tabs-border-radius: unset;
}

#findAGameTab .search-button,
#searchFormMainThread .search-button {
    color: var(--secondary-colour);
    background-color: var(--primary-accent-colour);
}

#findAGameTab .search-button:hover,
#searchFormMainThread .search-button:hover {
    background-color: var(--primary-accent-colour);
    border-color: var(--secondary-colour);
}

#homepageResultsContainer .result-button,
#main-thread-tabs .result-button,
#searchGamesForMainThread .result-button {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    border: 1px solid var(--primary-accent-colour);
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#homepageResultsContainer .result-button:hover,
#main-thread-tabs .result-button:hover,
#searchGamesForMainThread .result-button:hover {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
}

.first-result-item {
    margin-top: 1rem;
}

.result-list {
    list-style-type: none;
    padding-left: 0;
}

.result-item {
    margin-bottom: 1rem;
}

#searchGamesForMainThread li {
    list-style-type: none;
}

.accordion-header {
    color: var(--secondary-colour);
}

.accordion-button {
    color: var(--primary-colour);
}

.accordion-item {
    background-color: var(--primary-colour);
    color: var(--secondary-colour);
    margin-bottom: 1rem;
}

.accordion-item:hover,
.accordion-item:focus,
.accordion-button:hover,
.accordion-button:focus {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
}

.accordion-button:not(.collapsed) {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
}

.accordion-button:not(.collapsed)::after,
.accordion-button.collapsed:hover::after,
.accordion-button.collapsed:focus::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffffff' viewBox='0 0 16 16'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%230c0c0e' viewBox='0 0 16 16'%3e%3cpath d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#searchCreatedMainThreads .action-button {
    color: var(--secondary-colour);
    border-color: var(--secondary-colour);
    margin: 10px 0;
}

#searchCreatedMainThreads .action-button:hover {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    border-color: var(--primary-accent-colour);
}

/* --------------- ADMIN STYLING ENDS --------------- */

/* --------------- HOME STYLING STARTS --------------- */
.thread-title {
    color: var(--secondary-colour);
}

.thread-link {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    border: 1px solid var(--primary-accent-colour);
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.thread-link:hover {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
}

/* --------------- HOME STYLING ENDS --------------- */

/* --------------- MAIN THREAD DETAIL STYLING STARTS --------------- */
#main-thread-tabs .rotated-tab {
    padding: 1rem;
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    border: 1px solid var(--primary-accent-colour);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-thread-tabs .rotated-tab:hover,
#main-thread-tabs .rotated-tab.active {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    border-color: var(--secondary-colour);
}

#main-thread-tabs .tab-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

textarea {
    resize: horizontal;
}

.gradient-box {
    background: radial-gradient(circle at top, #0e1230, #070817);
    padding: 15px;
    border-radius: 5px;
    color: var(--secondary-colour);
    border: 2px solid var(--primary-accent-colour);
}

.comment-details {
    font-size: 0.7rem;
    font-style: italic;
}

.replies {
    margin-left: 20px;
}

.reply::before {
    content: "";
    display: block;
    border-top: 1px solid var(--primary-accent-colour);
    width: 75%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.vote-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.vote-button {
    background: radial-gradient(circle at top, #0e1230, #070817);
    border: none;
    padding: 10px;
}

.vote-icon {
    color: var(--secondary-colour);
    font-size: 24px;
}

/* --------------- MAIN THREAD DETAIL STYLING ENDS --------------- */